<div class="main_middle_contents">
  <div class="content_name">
  <%= message.user.name %>
  </div>
  <div class="content_daytime">
  <%= message.created_at %>
  </div>
</div>
<div class="content_comment">
<%= message.content %>
</div>
